<%- include('head.ejs'); %>
<!-- include extra files and title -->
<title>Register</title>
<link rel="stylesheet" href="/styles/loginstyle.css">

</head>

<!-- navbar included -->
<%- include('nav.ejs');  %> 


  <!-- registration section -->
  <section class="w-100" id="register" >
    <div class="container-fluid h-custom">
      <div>
        <h1 class="title"> <span id="registration-occupation">Student</span> Registration</h1>
      </div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-4 col-xl-4 my-lg-2 py-lg-2 left-panel text-center ">
          <img src="/images/Student.png" class="img-fluid login-image" alt="Student image" >
        </div>
        <div class="col-md-8 col-lg-6 col-xl-6 my-lg-2 py-lg-2 right-panel px-4">
          
            <div class="d-flex flex-column justify-content-center justify-content-lg-start ">
              <button type="button" class="btn btn-primary btn-floating mx-1 my-2">
                <i class="fa-brands fa-google login-icon"></i> Continue with google
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-linkedin-in login-icon"></i> Continue with Linkedin
              </button>
            </div>

            <div class="divider text-center my-4">
              <p class="fw-bold">Or</p>
            </div>
            <form action="/register" method="post">
            <!-- first name -->
            <div class="row">
            <div class="form-outline mb-4 col-md-6">
              <input name="first_name" type="text" id="first-name" class="form-control form-control-lg  inputs"
                placeholder="First name">
                
            </div>
            <!-- last name  -->
            <div class="form-outline mb-4 col-md-6">
              <input type="text" name="last_name" id="last-name" class="form-control form-control-lg  inputs"
                placeholder="Last name">
                
            </div>
          </div>
            <!-- Email input -->

            <div class="form-outline mb-4">
              <!-- <i class="fa-solid fa-user input-icon"></i> -->

              <input type="email" name="email_id" id="email" class="form-control form-control-lg  inputs"
                placeholder="Enter a valid email address">
            </div>


            <!-- phone number -->
            <div class="form-outline mb-4">
            <input type="tel" name="phone_no" id="number" class="form-control form-control-lg  inputs"
                placeholder="Contact number">
            </div>

             <!-- user id  -->

             <div class="form-outline mb-4">
              <input type="text" name="user_id" id="username" class="form-control form-control-lg  inputs"
                  placeholder="Create a valid username">
              </div>

            <!-- Password input -->
           
            <div class="form-outline mb-3">
              <input type="password" name="password" id="password" class="form-control form-control-lg inputs"
                placeholder="Create password">
            </div>


            <div class="form-outline mb-3">
              <input type="password" name="recheckPassword" id="password" class="form-control form-control-lg inputs"
                placeholder="Confirm password">
            </div>
           
            

            <div class="text-center  mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" onclick="registered()" style="padding-left: 2.5rem; padding-right: 2.5rem">
                Register 
              </button>
              </form>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Already have an account?
                <a href="/login" id="login-link">Login</a>
                <br>
                <a href="#" onclick="toggleStudentTeacherRegister()" id="toggle-register-page">Register as Teacher</a>
              </p>
            </div>
          
        </div>
      </div>
  </section>
  <script>
    function registered(){
      window.alert("User have been succesfully registered, Please Login to proceed...");
    }
  </script>

</div>
<%- include('footer.ejs') %> 
<script src="/js/login.js"></script>
</body>
</html>