<%- include('head.ejs'); %>
<!-- include extra files and title -->
<title>Submit Question</title>
<link rel="stylesheet" href="styles/submit.css">
</head>

<!-- navbar included -->
<%- include('nav.ejs');  %> 

<section id="submit-question">
    <div class="container-fluid text-center py-4">
        <div class="col-lg-6 col-10 mx-auto">
            <h1 class="title pb-4">Submit Your Question</h1>
            <p class="text-center">Want to submit your question for the Question Bank?! </p>
            <ul class="text-start">
                <li> Its very simple you just have to fill the given form correctly.</li>
                <li> First of all select the subject whose question you want to submit </li> 
                <li> Then write down your question in the Question textbox.</li> 
                <li> After the question write the 4 options of the question </li>
                <li> Select the correct options from the dropdown  </li>
            </ul>
        </div>

        <form method="post" action="/submit"  class="needs-validation"  >
            <div class="container-fluid text-start col-lg-6 col-10">
                <div>
                    <!-- subject input  -->
                    
                    <select name="subject" id="subject" class="form-select form-select-lg my-2  "  required>
                        <option value="">Select a subject</option>
                        <option value="501">Theory of Computation</option>
                        <option value="502">Database Management System</option>
                        <option value="503">Internet and Web Technologies</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                </div>

                <!-- question input -->
                <div class="form-floating my-2">
                    <textarea class="form-control" name="questionText" id="questionText" placeholder="this is question" required></textarea>
                    <label for="question-text">Enter Question</label>
                </div>

                <!-- Option A -->
                <div class="row">
                    
                    <div class="form-floating col-sm-6 my-2">
                        
                        <textarea class="form-control" name="optionA" id="optionA" placeholder="enter Option A here" required></textarea>
                        <label for="optionA" class="px-4">Enter Option A</label>
                    </div>
                
                    <!-- Option B -->

                    <div class="form-floating col-sm-6 my-2">
                        <textarea class="form-control" name="optionB" id="optionB" placeholder="enter Option B here" required></textarea>
                        <label for="optionB" class="px-4">Enter Option B</label>
                    </div>
                    </div>
               
                <div class="row">
                    <!-- option c  -->
                    
                    <div class="form-floating col-sm-6 my-2">
                        
                        <textarea class="form-control" name="optionC" id="optionC" placeholder="enter Option C here" required></textarea>
                        <label for="optionC" class="px-4">Enter Option C</label>
                    </div>
                    <!-- Option D -->

                    <div class="form-floating col-sm-6 my-2">
                        
                        <textarea class="form-control" name="optionD" id="optionD" placeholder="enter Option D here" required></textarea>
                        <label for="optionD" class="px-4">Enter Option D</label>
                    </div>
                    </div>
               
                
                    <select name="correctOption" id="correctOption" class="form-select form-select-lg my-3" required>
                        <option selected disabled value="">Select the correct option fro the following</option>
                        <option value="option1">Option A</option>
                        <option value="option2">Option B</option>
                        <option value="option3">Option C</option>
                        <option value="option4">Option D</option>
                    </select>
                    <div class="text-center">
                    <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
        
    </div>
</section>

</div>
<%- include('footer.ejs') %> 
</body>
</html>

